<nav class="px-28 py-10 ">
  <div
    class="border rounded-md shadow px-10 py-5 bg-slate-100 flex justify-center"
  >
    <a
      href="/"
      class=" px-4 py-2 rounded-full bg-green-200 hover:bg-green-300 text-gray-600 text-lg font-bold mr-10 shadow"
      >Home</a
    >
    <a
      href=""
      class="border px-4 py-2 rounded-full hover:bg-green-200 text-gray-600 text-lg font-bold mr-10"
      >Log in</a
    >
    <a
      href=""
      class="border px-4 py-2 rounded-full hover:bg-green-200 text-gray-600 text-lg font-bold mr-10"
      >Log out</a
    >
  </div>
</nav>
